
@media only screen and (max-width: 600px) {
  #header {
    box-shadow: 0px 0px 10px 0px grey;
    height: 50px;
    background-color: white;
    text-align: center;
    padding-top: 2.5px;
  }
  #quadrip {
    aspect-ratio: 1.29/1;
    max-height: 45px;
    width: 58px;
  }
  #menu_bar {
    height: 30px;
    border: 0px 0px 1px 0px;
    border-color: gray;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #header {
    box-shadow: 0px 0px 10px 0px grey;
    height: 50px;
    background-color: white;
    text-align: center;
  }
  #quadrip {
    aspect-ratio: 1.29/1;
    max-height: 45px;
    width: 58px;
  }
  #menu_bar {
    height: 30px;
    border: 0px 0px 1px 0px;
    border-color: gray;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #menu_bar {
    display: none;
  }
}

