
@media only screen and (max-width: 600px) {
  #header {
    box-shadow: 0px 0px 10px 0px;
    box-shadow-color: black;
    height: 50px;
    background-color: white;
    text-align: center;
  }
  #quadrip {
    aspect-ratio: 1.29/1;
    max-height: 90%;
}
